#contact-page-container
    width: 100%
    height: 100%
    padding: 20px 0px
    display: flex
    flex-direction: column

    h1
        font-weight: 300
        font-size: 44px
        margin-bottom: 10px

    p
        font-weight: 300
        font-size: 18px

#contact-page-content
    height: 200px
    display: flex
    justify-content: space-between
    margin-top: 50px

#contact-page-card
    height: 100%
    width: 400px
    display: flex
    align-items: center
    justify-content: space-between

    svg
        width: 130px
        height: 130px
        margin-right: 20px

    p
        font-size: 14px