#contact-page-container
    border: 1px solid black
    width: 100%
    height: 100%
    padding: 20px 0px

    h1
        font-weight: 300
        font-size: 44px
        margin-bottom: 10px

    p
        font-weight: 300
        font-size: 18px

#contact-page-content
    border: 1px solid black
    height: 200px
    display: flex
    justify-content: space-between

#contact-page-card
    border: 1px solid black
    height: 100%
    width: 350px
    display: flex
    align-items: center

    svg
        width: 180px
        height: 180px